<!DOCTYPE html>
<html>
<head>
  <title>The Catabase</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>


  <div class="jumbotron text-center">
    <h1>The Catabase</h1>
  </div>

  <div class="container" style="width: 225px">


  <? dbCatList.forEach(function(cat) { ?>

    <h3><?= cat.name ?></h3>

    <ul>
      <li>Age: <?= cat.age ?></li>
      <li>Breed: <?= cat.breed ?></li>
      <li>Color: <?= cat.color ?></li>
    </ul>

  <? }); ?>

  </div>

  <div class="footer" style="background-color: #eeeeee; margin-top: 40px">

    <div class="container" style="max-width: 450px">

      <h2 class="text-center">Add More Cats</h2>
      <form action="/addNewCat" method="POST">

        <div class="form-group">
          <input class="form-control" name="catName" type="text" placeholder="Name"></input>
        </div>

        <div class="form-group">
          <input class="form-control" name="catAge" type="number" min="0" placeholder="Age"></input>
        </div>

        <div class="form-group">
          <input class="form-control" name="catBreed" type="text" placeholder="Breed"></input>
        </div>

        <div class="form-group">
          <input class="form-control" name="catColor" type="text" placeholder="Color"></input>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">Add new cat!</button>
        </div>

      </form>

    </div>
  </div>

</body>
</html>
