<h1>LIST SOME CATS</h1>

<? dbCatList.forEach(function(cat) { ?>

  <li>a cat named <?= cat.name ?></li>

<? }); ?>

<form action="/addNewCat" method="POST">
  <input name="catName" type="text" placeholder="Cat name"></input>
  <input name="catAge" type="number" min="0" placeholder="Cat age"></input>
  <input name="catBreed" type="text" placeholder="Cat breed"></input>
  <input name="catColor" type="text" placeholder="Cat color"></input>
  <button>Add new cat!</button>
</form>
