<h1>Cat Database</h1>

<? dbCatList.forEach(function(cat) { ?>

  <h3>A cat named <?= cat.name ?></h3>

  <ul>
    <li>Age: <?= cat.age ?></li>
    <li>Breed: <?= cat.breed ?></li>
    <li>Color: <?= cat.color ?></li>
  </ul>

<? }); ?>

<form action="/addNewCat" method="POST">
  <input name="catName" type="text" placeholder="Cat name"></input>
  <input name="catAge" type="number" min="0" placeholder="Cat age"></input>
  <input name="catBreed" type="text" placeholder="Cat breed"></input>
  <input name="catColor" type="text" placeholder="Cat color"></input>
  <button>Add new cat!</button>
</form>
